.top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.top>.top-item {
    flex-grow: 1;
    width: 0;
}

#display {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#display>.output {
    flex-grow: 1;
    width: 0;
    white-space: pre-wrap;
}

.output span {
    background-color: blue;
}